.button {
  background-color: black;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button2 {
  background-color: #e754a5;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}
.button2:hover {opacity: 1}

h1 {
        background-color: #FF80FF;
        opacity: 80%;
      }
h3 {
        background-color: #FF80FF;
        opacity: 80%;
      }
h4 {
        background-color: #FF80FF;
        opacity: 80%;
      }
      body {
        cursor: url("https://cdn.glitch.com/ac49c1e8-2791-4469-b308-8ddd9a3408bf%2FBlackpink%20Lightstick.cur?v=1615995035242"),
          auto;
      }
      [class*="col-"] {
  width: 100%;
}
.responsive {
  width: 100%;
  height: auto;
}

.marquee {
  background-colour: #FF80FF;
  opacity: 80%;
}